<footer>

	<div class="content-padding">
		<div class="footer-content">

			<p>Copyright &copy; 2016 om</p>

			<div class="social-media-icons">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
			</div>

		</div>
	</div>
</footer>
